{
  "parser": "@typescript-eslint/parser",
  "globals": {
    "process": "readonly"
  },
  "plugins": [
    "react-hooks",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "rules": {
    // 規則を追加
  }
}
